* {
	display: none;
}

rss {
	display: block;
	background-color: #ddd;
	font: 12pt Verdana, sans-serif;
	color: #666;
}

channel {
	display: block;
	width: 800px;
	margin: 0 auto;
	border-color: #666;
	border-width: 0 3px;
	border-style: solid;
	background-color: #fff;
        padding: 20px;
}

channel > title {
	display: block;
	font-size: 24pt;
	font-weight: bold;
	color: #666;
	padding: 0 0 10px 0;
	border: 1px solid #666;
	border-width: 0 0 1px 0;
	margin: 0 0 20px 0;
}

channel item {
	display: block;
	margin: 20px 0;
}

channel item title,
channel item description,
channel item guid,
channel item link,
channel item pubDate
{
        display: block
}

channel item title:before {
	font-weight: bold;
	content:"Name: "
}